@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


h1,
p {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  
}

.TopLink{
  flex: 1;
  text-align: center;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopLink img {
  height: 25px;
  margin-right: 10px;;
}

.TopLink .home {
  color: #3772FF;
}

.TopLink .cart {
  color: #F6AA1C;;
}

.cartImage {
  
}